In [85]:
#Basics of LOOPS
#For LOOPs
numbers = [10, 20, 30, 40, 50]
for num in numbers: 
    print(num)

10
20
30
40
50

In [86]:
name = "Netra Kumar Manandhar"
for i in name:
    print(i, end = ",")

N,e,t,r,a, ,K,u,m,a,r, ,M,a,n,a,n,d,h,a,r,

In [87]:
#Iterating overa a tuple
foods = ("MO:MO", "Chowmin", "Juice", "Tandoori", "Khaja Set", "Salad")
for x in foods:
    print(x)

MO:MO
Chowmin
Juice
Tandoori
Khaja Set
Salad

In [88]:
#Printing a certain number range
for x in range(10): #This print numbers from 0 to 9
    print(x)

0
1
2
3
4
5
6
7
8
9

In [89]:
for x in range(20):
    print(x, end = ", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,

In [90]:
for y in range(100):
    print(y, end = ", ")

0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99,

In [91]:
#Summing Numbers
numbers = [10, 20, 30, 40, 50]
sum = 0
for num in numbers:
    sum += num
print("Sum: ", sum)

Sum:  150

In [92]:
#Finding Average
total_sum = 0
count = 0
for num in numbers:
    total_sum += num
    count += 1
    average = total_sum/count
print("The average is: ", average)

The average is:  30.0

In [93]:
#Printing even and odd numbers
numbers = [4, 10, 11, 45, 7, 123, 23543, 333, 344334, 909090]
even_numbers = []
odd_numbers = []
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)
    else:
        odd_numbers.append(num)
print("Even numbers are: ", even_numbers)
print("Odd Numbers are: ", odd_numbers)

Even numbers are:  [4, 10, 344334, 909090]
Odd Numbers are:  [11, 45, 7, 123, 23543, 333]

In [94]:
#Printing patterns (Right angled triangle)
for i in range(10):
    for j in range(i + 1):
        print("*", end = " ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [95]:
#Printing an inverted right angled triangle
for i in range(5, 0, -1):
    for j in range(i):
        print("*", end = " ")
    print()

* * * * *
* * * *
* * *
* *
*

In [96]:
#Counting Characters
text = "Netra Kumar Manandhar"
target_char = 'n'
count = 0
for char in text: 
    if char == target_char:
        count += 1
print(f"The character '{target_char} appears {count} times. ")

The character 'n appears 2 times.

In [97]:
#While Loop
count = 0
while count <10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [98]:
# Example 2: Using a while loop to implement a guessing game
secret_number = 55
guess = None
while guess != secret_number:
    guess = int(input("Guess the Secret Number: "))
if guess < secret_number:
    print("Too Low (: ")
elif guess > secret_number:
    print("Too High (: ")
else:
    print("Congratulations! You guessed it right! ")
break #Exit the loop when the guess is correct

Congratulations! You guessed it right!

SyntaxError: 'break' outside loop (1329774812.py, line 12)

In [ ]:
#Learning from Telusko
for i in [10, "Netra", 2.5, 11.22222]:
    print(i)

10
Netra
2.5
11.22222

In [ ]:
for i in range(11, 21):
    print(i)

11
12
13
14
15
16
17
18
19
20

In [ ]:
for i in range(11, 21, 2):
    print(i)

11
13
15
17
19

In [ ]:
for i in range(22, 11, -1):
    print(i)

22
21
20
19
18
17
16
15
14
13
12

In [ ]:
for i in range(1, 21):
    if i%5 == 0:
        print(i)

5
10
15
20

In [ ]:
#While LOOP
i = 1
while i <= 5:
    print("Netra")
    i = i + 1

Netra
Netra
Netra
Netra
Netra

In [ ]:
i = 5
while i >= 1:
    print("Netra")
    i = i - 1

Netra
Netra
Netra
Netra
Netra

In [ ]:
#By counting the number
i = 5
while i >= 1:
    print("Netra", i)
    i = i - 1

Netra 5
Netra 4
Netra 3
Netra 2
Netra 1

In [ ]:
i = 1
while i <= 5:
    print("Netra", end=" ")
     j = 1
    while j <=4:
        print("Rocks", end=" ")
        j = j+1
    i = i + 1
    print()

IndentationError: unexpected indent (3932238813.py, line 4)