In [7]:
for m in range(1, 100):
    print(m)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [9]:
a = 5
a==2

False

In [12]:
a == 5

True

In [13]:
a !=4

True

In [14]:
a < 3

False

In [15]:
a > 50

False

In [16]:
a = 25
type(a)

int

In [17]:
b = "Netra"
print(type(b))

<class 'str'>

In [18]:
m = 2 + 3j
type(m)

complex

In [19]:
k = False
type(k)

bool

In [20]:
k == bool

False

In [21]:
print(a>20)

True

In [22]:
a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [23]:
b = 55
b

55

In [24]:
print(a+b)

80

In [25]:
print(a==b)

False

In [26]:
print(a!=b)

True

In [38]:
age = 25
age += 1
print("Your age is: " + str(age))

Your age is: 26

In [40]:
"Your age is: " + str(age)

'Your age is: 26'

In [41]:
height = 45
"My height is:" + str(height)

'My height is:45'

In [42]:
height += 5

In [43]:
print("My height is: "+str(height))

My height is: 50

In [44]:
print(type(height))

<class 'int'>

In [50]:
print("My height is: " +str(height), "cm")

My height is: 50 cm

In [51]:
name, age, attractive = "Bro", 21, True
print(name, age, attractive)

Bro 21 True

In [52]:
print(name)

Bro

In [53]:
print(age)
print(attractive)

21
True

In [54]:
a = b = c = d = 33
a, b, c, d

(33, 33, 33, 33)

In [55]:
print(a, b, c, d)

33 33 33 33

In [56]:
print(a+b+c+d)

132

In [57]:
print(a*b*c*d)

1185921

In [5]:
name = "Netra Kumar Manandhar"
print(name)

Netra Kumar Manandhar

In [6]:
print(name.find('o'))

-1

In [7]:
print(name.find("N"))

0

In [8]:
name.capitalize()

'Netra kumar manandhar'

In [9]:
name.lower()

'netra kumar manandhar'

In [10]:
name.upper()

'NETRA KUMAR MANANDHAR'

In [13]:
print(len(name))

21

In [17]:
name.isalnum()

False

In [20]:
name.islower()

False

In [21]:
name.isalpha()

False

In [22]:
name.isdigit()

False

In [23]:
name.isascii()

True

In [24]:
print(name.count("n"))

2

In [25]:
print(name.count("N"))

1

In [26]:
print(name.count("k"))

0

In [27]:
print(name.replace("N", "P"))

Petra Kumar Manandhar

In [28]:
print(name*3)

Netra Kumar ManandharNetra Kumar ManandharNetra Kumar Manandhar

In [29]:
print(name**2)

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [30]:
print(name*2)

Netra Kumar ManandharNetra Kumar Manandhar

In [31]:
str.title()

TypeError: unbound method str.title() needs an argument

In [32]:
str.title(name)

'Netra Kumar Manandhar'

In [33]:
name.title()

'Netra Kumar Manandhar'

In [34]:
name.count()

TypeError: count() takes at least 1 argument (0 given)

In [35]:
name.count(2)

TypeError: must be str, not int

In [36]:
name.count('n')

2

In [37]:
name.count('N')

1

In [38]:
name.encode()

b'Netra Kumar Manandhar'

In [40]:
name.decode()

AttributeError: 'str' object has no attribute 'decode'

In [42]:
bytes.decode(encoding.name)

NameError: name 'encoding' is not defined

In [43]:
x = input("x in an integer: ")

In [44]:
x = int(input("please enter an integer: "))
x

25

In [45]:
y = int(input("Please enter an integer y: "))
print(y)

100

In [46]:
z = float(input("z is a float value: "))

In [47]:
z

11.5

In [49]:
print(x + y + z)

136.5

In [54]:
int(x)

25

In [55]:
x==y

False

In [56]:
x!=y

True

In [57]:
x<=y

True

In [58]:
x|y

125

In [59]:
x&y

0

In [60]:
x^y

125

In [61]:
print(abs(-x))

25

In [62]:
print(divmod(x, y))

(0, 25)

In [64]:
print(pow(x, y, x))

0

In [65]:
type(z)

float

In [66]:
type(x)

int

In [68]:
x.as_integer_ratio()

(25, 1)

In [69]:
print(round(z))

12

In [72]:
from math import *

In [73]:
floor(z)

11

In [74]:
ceil(z)

12

In [75]:
floor(x)

25

In [76]:
n = 7.3456345
n

7.3456345

In [77]:
ceil(n)

8

In [78]:
floor(n)

7

In [79]:
hex(x)

'0x19'

In [83]:
h = hex(x*y)
h

'0x9c4'

In [85]:
print(int(hex_string, 16))

NameError: name 'hex_string' is not defined

In [86]:
numbers = [5, 0, 10, 20]
print(max(numbers))

20

In [87]:
print(sqrt(x))

5.0

In [88]:
print(sqrt(z))

3.391164991562634

In [89]:
print(x&y)

0